.main {
  margin: 0 auto;
  position: relative;
  max-width: 800px;
}

.input {
  background: white;
  bottom: 0;
  max-width: 800px;
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
}

.input textarea {
  border: 1px solid #222;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  font-size: 16px;
  outline: none;
  padding: 15px 10px 0 10px;
  resize: none;
  width: 100%;
}

.input > div { /* toolbar */
  background: #eee;
  border: 1px solid #222;
  border-top: 2px solid #ccc;
  border-radius: 0 0 5px 5px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
  margin-top: -5px;
}

.input div div button {
  background: none;
  border: 0;
  border-radius: 3px;
  color: gray;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
}

.input div div button:hover {
  background: #ccc;
}



.feed {
  padding-bottom: 125px;
  min-width: 800px;
  width: 100%;
}

.feed article {
  border: 1px solid #ccc; /* forces parent to contain children (dont remove) */
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

.feed article:hover {
  background: #eee;
}

.feed header {
  display: flex;
  padding: 10px 0;
}

.feed header img {
  background: black;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.feed header button {
  background: none;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  height: 20px;
  margin: 0 10px;
}

.feed header time {
  color: #777;
  font-size: 14px;
  margin-top: 2px;
}

.feed div {
  font-size: 18px;
  margin: -30px 0 10px 60px;
}
