
.emoji {
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 5px 10px #999;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  position: absolute;
  right: 0;
  top: -300px;
  width: 375px;
}

.emoji span {
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}