
.login {
  background: none;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.container {
  left: 50%;
  margin: 0 auto;
  max-width: 440px;
  min-width: 300px;
  padding: 60px 40px 80px 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.form h2 {
  color: #0075ff;
  text-align: center;
}

.form input {
  display: block;
  font-size: 16px;
  height: 50px;
  padding: 0 0 0 20px;
  margin: 20px 0;
  width: 100%;
}

.form input:focus {
  border:2px solid #0075ff;
  outline: none !important;
}


.form button {
  background: #0075ff;
  border: 0;
  color: white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  margin: 20px 0;
  width: 100%;
}

.form button:hover {
  background: #0063d9;
}

.form div {
  display: flex;
  justify-content: space-between;
}

.form label {
  display: flex;
  color: #777;
  cursor: pointer;
  width: 160px;
}

.form input[type=checkbox] {
  cursor: pointer;
  height: 18px;
  width: 18px;
  padding: 0;
  margin: 0 12px 0 0;
}

.form a {
  color: inherit;
  text-decoration: none;
}

.form button:last-child {
  background: none;
  color: #777;
  font-weight: normal;
  height: auto;
  margin: 0;
}
.form button:last-child:hover,
.form label:hover, .form a:hover {
  color: #444;
  text-decoration: underline;
}

.container hr {
  margin: 40px 0 -10px 0;
}
.register {
  color: #777;
  text-align: right;
}

.register > button {
  background: none;
  border: 0;
  color: #0075ff;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  margin: 20px 0 10px;
}

.register > button:hover {
  text-decoration: underline;
}

.legal {
  color: #777;
  font-size: 12px;
}

.legal p {
  margin-bottom: 5px;
}

.legal a,
.legal a:active
.legal a:focus {
  color: #222;
}

@media all and (max-width: 500px) {
  .container {
    max-width: 100%;
    padding: 20px 10px 60px 10px;
  }
  .form h2 {
    font-size: 18px;
  }
}